$primary   : #1565C0;
$secondary : #7ac141;
$accent    : #d93d35;

$dark      : #0f172a;
$dark-page : #121820;

$positive  : #7ac141;
$negative  : #d93d35;
$info      : #31CCEC;
$warning   : #F2C037;
